* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background:  #000000;
  color: #fff;
  overflow-x: hidden;
}

.header {
  text-align: center;
  padding: 2rem 1rem;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#searchInput {
  width: 60%;
  padding: 0.8rem;
  border-radius: 8px 0 0 8px;
  border: none;
  font-size: 1rem;
  outline: none;
}

#searchButton {
  padding: 0.8rem 1.5rem;
  background-color: #000000;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background 0.3s;
}

#searchButton:hover {
  background-color: #ffffff;
  color: #000000;
}

.timeline-container {
  margin: 2rem auto;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

.timeline {
  display: flex;
  position: relative;
  gap: 2rem;
  width: 80%;
}

.event {
  min-width: 250px;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  z-index:1;
  text-decoration: none; 
  display: block;
}

.event:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4);
}

.event img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.event h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.event p {
  font-size: 0.9rem;
}

.event::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
}

.event.active {
  border: 2px solid #4caf50;
  box-shadow: 0 0 15px #4caf50;
}



.no-image {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}
